:root {
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(180, 20%, 90%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Light-grayish-cyan);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Space Mono", monospace;
}

.title {
   
    margin: 1rem;
  padding: 1rem;
}

.card {
  background-color: white;
  padding: 1rem;
  height: 80vh;
  border-radius: 12px;
}

.card-input > * {
  margin-bottom: 1rem;
}

.card-input button {
  background-color: var(--Very-dark-cyan);
}
.card-input button:hover{
    cursor: pointer;
}
.card-input button:focus{
   background-color: var(--Strong-cyan);
   color: var(--Very-dark-cyan);
   font-weight: 700;
}

.card-input input {
  height: 3rem;
  border: none;
  background-color: var(--Very-light-grayish-cyan);
  margin-top: 0.5rem;
  font-size: 22px;
  padding: 0.5rem;
  text-align: end;
  color: var(--Very-dark-cyan);
  font-weight: 700;
}

.bill,
.people {
  display: flex;
  flex-direction: column;
}

.tip-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tip-selection > * {
  min-width: 45%;
  margin: 0.5rem 0;
}

button,
#custom-tip {
  height: 3rem;
  border-radius: 6px;
  border: none;
  font-family: "Space Mono", monospace;
  font-size: 20px;
  color: white;
}

#custom-tip {
  background-color: var(--Very-light-grayish-cyan);
  color: var(--Very-dark-cyan);
  font-weight: 700;

  width: 45%;
  text-align: center;
}

.card-output {
  background-color: var(--Very-dark-cyan);
  margin-top: 2rem;
  border-radius: 10px;
  padding: 2rem;
}

.amount,
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.amount h3,
.total h3 {
  color: white;
  font-weight: 400;
}

.amount p,
.total p {
  color: white;
  opacity: 50%;
  font-weight: 400;
}

.amount span,
.total span {
  color: var(--Strong-cyan);
  font-size: 1.9rem;
  font-weight: 700;
}

.reset {
  width: 100%;
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
  font-family: "Space Mono", monospace;
  font-weight: 700;
}
